---
import Layout from "@/layouts/Layout.astro";
import ZenHero from "@/components/blog/ZenHero.astro";
import ZenFeatureGrid from "@/components/blog/ZenFeatureGrid.astro";
import ZenCertificacionCarousel from "@/components/blog/ZenCertificacionCarousel.astro";
import CategoryPostsSection from "@/components/utils/CategoryPostsSection.astro";
---

<Layout>
  <section id="zen" class="relative mx-auto max-w-7xl px-6 py-24">
    <ZenHero />
    <ZenFeatureGrid />
    <ZenCertificacionCarousel />
    <section id="iniciativa">
      <CategoryPostsSection categoria="zen" tag="iniciativa" />
    </section>
    <section id="colaboracion">
      <CategoryPostsSection categoria="zen" tag="colaboracion" />
    </section>
    <section id="noticia">
      <CategoryPostsSection categoria="zen" tag="noticia" />
    </section>
  </section>
</Layout>
