---
import Layout from "@/layouts/Layout.astro";
import "@/styles/global.css";
---

<Layout>
  <section class="mx-auto flex max-w-7xl gap-10 px-6">
    <!-- Sidebar -->
    <aside class="hidden w-64 shrink-0 md:block">
      <!-- navegación -->
    </aside>

    <!-- Contenido principal -->
    <main class="flex-1">
      <!-- <ConceptsSection /> -->
    </main>
  </section>
</Layout>
