---
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body class="bg-background text-foreground font-body">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
